@mixin border-1px($color) {
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color;
    content: ' ';
  }
}
@mixin border-none() {
  &:after {
    display: none;
  }
}

@mixin bg-img($url, $bs) {
  background: url($url + '@2x.png');
  background-size: $bs;
  @media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3) {
    background: url($url + '@3x.png');
    background-size: $bs;
  }
}

@mixin map-icon($url, $type, $size) {
  &.decrease {
    @include bg-img($url+"/decrease_"+$type, $size);
  }
  /*background: url("../public/img/decrease_1@2x.png")*/
  &.discount {
    @include bg-img($url+"/discount_"+$type, $size);
  }
  &.special {
    @include bg-img($url+"/special_"+$type, $size);
  }
  &.invoice {
    @include bg-img($url+"/invoice_"+$type, $size);
  }
  &.guarantee {
    @include bg-img($url+"/guarantee_"+$type, $size);
  }
}
